.card{
    background-color: aquamarine;
    max-height: 40vh;
    padding: 1%;
    max-width: 20vw;
    border-radius: 20px;
    margin: 4%;
    text-align: center;
    display: inline-block;
}

.card img{
    width: 20vw;
    margin-bottom:4%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
}

.p{
    color: red;
}