.card{
    background-color: aquamarine;
    max-height: 40vh;
    padding: 1%;
    max-width: 20vw;
    border-radius: 20px;
    margin: 4%;
    text-align: center;
    display: inline-block;
}

.card img{
    width: 20vw;
    margin-bottom:4%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 20px white;
}

.p{
    color: red;
}